<center>
<b>About</b>
<p>Harkell is the private investment portfolio of Jordan Harkell Short.  The purpose of this website is to give brief detail on the constituents and investment rationale of the portfolio.</p>
</center>