<center>
<b>About</b>
<p>Harkell is the website of the personal equities portfolio of Jordan Harkell Short.  The purpose of this website is to give brief detail on the constituents and investment rationale of the portfolio.</p>  

<p>The portfolio focuses on taking long-only, unleveraged positions in small-cap equities, with an average holding period of 6 months.  The portfolio seeks to take advantage of market short-termism (in the form of pessimism over temporary circumstance) and unpriced optionality in the AIM markets.  The investment process has no informational advantage and operates on the philosophy that the small-cap equities market systematically overweights the short-term.</p>
</center>