<center><b><p id="notice"><%= notice %></p></b>
<p><b>The personal website of Jordan Harkell Short.</b></p>
<br>

<table>
  <tr>
    <th>CV</th>
  </tr>
  <tr>
    <td><%= link_to 'CV September 2016', root_path %></td>
  </tr>
</table>
<br>
<table>
  <tr>
    <th>Research</th>
  </tr>
  <tr>
    <td><%= link_to 'The Future of Cryptocurrency', asset_path("TFOC-30-03-14.pdf") %></td>
  </tr>
</table>

