/* line 1, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, C:/Users/jhsho_000/Desktop/Rails/harkell/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

html {

  background-position: top center;
  background-color: #ffffe6;
}

body {
  height: 500px;
  padding-bottom: 200px;
  background-color: #ffffe6;
  margin-bottom:50px;
}

footer {
    position:fixed;
    height:100px;
    background-color: #ffffe6;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
br {
	padding-bottom: 10px;
}

td {
  text-align: center;
  vertical-align: middle;
}

p {
  /*margin-right: 250px;
  margin-left: 250px;*/
  width: 850px;
  text-align: center;
}

.harkellTitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /*border: solid;
  /*background-color: #ffffcc;*/
  width: 300px;
  margin: auto;
}

.harkellFooter {
  text-align: center;
  padding-top: 5px;
}

.returnsTable {
  margin-top: 100px;
}

.button {
  margin-top: 30px;
  margin-bottom: 10px;
}

.adjustedTitle {
  position: relative;
  bottom: 18px;
  width: 500px;
}

.portfolioList {

}

.centered {
  text-align: center;

}
